<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<form role="form" name="form" class="form-horizontal form-validation">
		<div class="form-group">
			<div class="portlet-body">
				<div class="mt-element-card mt-element-overlay">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="mt-card-item">
								<div class="mt-card-avatar mt-overlay-1">
									<img src="../assets/pages/img/avatars/team1.jpg">
									<div class="mt-overlay">
										<ul class="mt-info">
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="mt-card-content">
									<h3 class="mt-card-name">Mark Anthony</h3>
									<p class="mt-card-desc font-grey-mint">Managing Director</p>
									<div class="mt-card-social" >
										<div class="mt-card-social">
											<input type="checkbox" width="50px" height="30px">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="mt-card-item">
								<div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
									<img src="../assets/pages/img/avatars/team2.jpg">
									<div class="mt-overlay mt-top">
										<ul class="mt-info">
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="mt-card-content">
									<h3 class="mt-card-name">Denzel Wash</h3>
									<p class="mt-card-desc font-grey-mint">Finance Director</p>
									<div class="mt-card-social">
										<div class="mt-card-social">
											<input type="checkbox">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="mt-card-item">
								<div class="mt-card-avatar mt-overlay-1 mt-scroll-up">
									<img src="../assets/pages/img/avatars/team3.jpg">
									<div class="mt-overlay">
										<ul class="mt-info">
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="mt-card-content">
									<h3 class="mt-card-name">David Goodman</h3>
									<p class="mt-card-desc font-grey-mint">Creative Director</p>
									<div class="mt-card-social">
										<input type="checkbox">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="mt-card-item">
								<div class="mt-card-avatar mt-overlay-1 mt-scroll-left">
									<img src="../assets/pages/img/avatars/team4.jpg">
									<div class="mt-overlay">
										<ul class="mt-info">
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:;"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="mt-card-content">
									<h3 class="mt-card-name">Lucy Ling</h3>
									<p class="mt-card-desc font-grey-mint">HR Director</p>
									<div class="mt-card-social">
										<input type="checkbox">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary"
		ng-click="ok(form.$valid,domain)">确定</button>
	<button class="btn btn-default" ng-click="cancel()">取消</button>
</div>